# ignore files ignored in all branches

# java_server
**/target/
java_server/src/main/proto
java_server/.idea/
java_server/.settings/
java_server/.project

# flutter_app
flutter_app/proto
flutter_app/lib/src/generated

# vscode
.vscode/
